@import "tailwindcss";

.flex-center {
  @apply flex items-center justify-center
}

.small-content {
  @apply text-sm md:text-lg
}

.title {
  @apply text-[#1E293B] text-xl md:text-4xl font-bold
}

.twenty {
  @apply text-sm md:text-xl text-[#4B5563]
}

.sixteen {
  @apply text-xs md:text-[16px] text-[#4B5563]
}

.semi-twenty {
  @apply text-[16px] md:text-xl text-[#4B5563] font-semibold
}

.subtitle {
  @apply text-[#111827] font-bold text-lg md:text-xl
}

.input {
  @apply border border-[#D1D5DB] rounded outline-none px-3 py-1.5 md:py-1
}